* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
  width: 100%;
}

.container {
  display: grid;
  grid-template-columns: minmax(max-content, 15%) minmax(80%, 1fr);
  grid-template-rows: 150px 1fr;
  grid-template-areas: 
  "sidebar header"
  "sidebar main";
}

.sidebar {
  background-color: rgb(51, 78, 102);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% repeat(2, 1fr);
  grid-area: sidebar;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  flex: 1;
  padding: 40px;
}

.sidebar-list {
  display: grid;
  gap: 20px;
}

.sidebar-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header {
  background-color: rgb(34, 47, 58);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-area: header;
  padding: 15px 50px;
}

.notification-bar {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-bar {
  flex: 1;
  display: flex;
  gap: 15px;
  align-items: center;
}

.search-label {
  display: flex;
  align-items: center;
}

.user-info {
  display: flex;
  align-items: center;
  margin-left: 50px;
  gap: 15px;
}

.header-bottom {
  display: flex;
}

.user-info-long {
  flex: 1;
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-links {
  display: flex;
  align-items: center;
  gap: 10px;
}

.main-content {
  background-color: rgb(41, 57, 70);
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-area: main;
  grid-template-areas: 
  "projects announcements"
  "projects trending";
}

.projects {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  gap: 15px;
  grid-area: projects;
}

.projects-wrapper {
  display: grid;
  grid-template-columns: repeat(autofill, minmax(300px, 1fr));
  grid-template-rows: repeat(autofill, 200px);
  gap: 20px;
}

.project {
  background-color: rgb(45, 93, 134);
}

.announcements {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-area: announcements;
}

.trending {
  display: flex;
  flex-direction: column;
  gap: 15px;
  grid-area: trending;
}

.actions {
  display: flex;
  justify-content: flex-end;
  gap: 15px;
}

.announcements-wrapper,
.trending-wrapper {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.trending-item {
  display: flex;
  gap: 15px;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: rgb(34, 47, 58);
}

.sidebar > * {
  padding-left: 10%;
}

.sidebar-list {
  margin-top: 30px;
}

.sidebar-link {
  width: max-content;
}

.header {
  padding: 5px 40px;
}

.search-input {
  padding: 5px;
  width: 50%;
}

.search-input {
  padding: 5px;
  padding-left: 15px;
}

.header-bottom {
  margin-top: 10px;
  padding-bottom: 5px;
}

.name {
  margin-top: 10px;
}

.main-content {
  padding: 15px;
}

.announcement {
  padding: 15px;
}

.announcement-title {
  margin-bottom: 10px;
}

.project {
  padding: 15px;
}

.actions {
  margin-top: 35px;
}

.project-title {
  margin-bottom: 10px;
}

.announcements,
.trending {
  margin-left: 20px;
}

.header-link-button {
  padding: 10px 15px;
  margin-right: 10px;
}

.announcements-wrapper,
.trending-wrapper {
  margin-right: 15px;
  padding: 25px;
}

.announcement,
.trending-item {
  padding-bottom: 15px;
}

.trending {
  margin-top: 15px;
}

.trending-name {
  margin-bottom: 5px;
}

.announcement-title {
  margin-bottom: 5px;
}

.title {
  font-size: 3rem;
  font-weight: 500;
}

.sidebar-link {
  text-decoration: none;
  font-weight: 500;
  font-size: 1.5rem;
}

.user-info {
  font-weight: 500;
  font-size: 2rem;
  letter-spacing: 1px;
}

.greet {
  font-weight: bold;
}

.name {
  font-size: 1.5rem;
  font-weight: bold;
}

.header-link-button {
  font-weight: bold;
}

.trending-name {
  font-weight: bold;
}

.container {
  border: 2px solid;
}

.sidebar {
  border-right: 2px solid;
}

.logo {
  border-bottom: 2px dashed;
}

.header {
  border-bottom: 2px solid;
}

.search-input {
  border: none;
  border-radius: 15px;
}

.header-link-button {
  border: none;
  border-radius: 25px;
}

.project {
  border-left: 6px solid;
  border-radius: 5px;
}

.action-button {
  border: none;
}

.announcements-wrapper,
.trending-wrapper {
  border-radius: 5px;
}

.announcement:not(:last-child),
.trending-item:not(:last-child) {
  border-bottom: 2px solid;
}

.sidebar-list {
  list-style: none;
}

.search-input {
  outline: none;
}

.notifications {
  cursor: pointer;
}

.user-info > * {
  cursor: pointer;
}

.header-link-button {
  outline: none;
  cursor: pointer;
}

.action-button {
  cursor: pointer;
}

.main-content {
  overflow: auto;
}

.sidebar-link:hover,
.sidebar-link:focus {
  color:rgb(45, 93, 134)
}

.search-input:focus {
  border: 2px solid rgb(45, 93, 134);
}

.header-link-button:hover,
.header-link-button:focus {
  border: 2px solid rgb(45, 93, 134);
  background-color: rgb(51, 78, 102);
}


.sidebar-link {
  color: black;
}

.search-input {
  color: black;
  background-color: rgb(45, 93, 134);
}

.header-link-button {
  background-color: rgb(45, 93, 134);
}

.action-button {
  background-color: transparent;
}

.announcements-wrapper,
.trending-wrapper {
  background-color: rgb(45, 93, 134);
}

.project {
  background-color: rgb(45, 93, 134);
}

.user-image-short {
  height: 40px;
  width: 40px;
}

.user-image-long {
  height: 60px;
  width: 60px;
}

.trending-image {
  height: 40px;
  width: 40px;
}
